/* Error: expected "{".
 *    ,
 * 74 | >>>>>>> 040da6b (main hamburger 구현 완료 / music bar 싸이 재생버튼 시 transition 구현 완료 아이콘 추가 완료)
 *    |                                                                                        ^
 *    '
 *   scss/04_layout/_newSection.scss 74:88  @import
 *   scss/04_layout/_index.scss 2:9         @import
 *   scss/style.scss 4:9                    root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a    \2577 \a 74 \2502  >>>>>>> 040da6b (main hamburger \ad6c \d604  \c644 \b8cc  / music bar \c2f8 \c774  \c7ac \c0dd \bc84 \d2bc  \c2dc  transition \ad6c \d604  \c644 \b8cc  \c544 \c774 \cf58  \cd94 \ac00  \c644 \b8cc )\a    \2502                                                                                         ^\a    \2575 \a   scss/04_layout/_newSection.scss 74:88  @import\a   scss/04_layout/_index.scss 2:9         @import\a   scss/style.scss 4:9                    root stylesheet';
}
