@font-face {
  font-family: "NanumBarunGothic";
  font-style: normal;
  font-weight: 400;
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot");
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix") format("embedded-opentype"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff") format("woff"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf") format("truetype");
}
@font-face {
  font-family: "NanumBarunGothic";
  font-style: normal;
  font-weight: 700;
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot");
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix") format("embedded-opentype"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff") format("woff"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf") format("truetype");
}
@font-face {
  font-family: "NanumBarunGothic";
  font-style: normal;
  font-weight: 300;
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot");
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix") format("embedded-opentype"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff") format("woff"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf") format("truetype");
}
* {
  font-family: "NanumBarunGothic", sans-serif;
}

.sr-only {
  overflow: hidden;
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
}

html {
  font-size: 16px;
  overflow-y: visible;
}

body,
body::before,
body::after,
body *,
body *::before,
body *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body * {
  -webkit-tap-highlight-color: rgba(255, 255, 200, 0.3);
}

body {
  font-family: "Spoqa Han Sans", "Sans-serif";
  font-size: inherit;
  background-color: #fff;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: inherit;
}

ul,
ol {
  padding-left: 0;
  list-style: none;
}

img {
  vertical-align: middle;
}

a {
  color: inherit;
  text-decoration: none;
}

address,
em {
  font-style: normal;
}

fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}

legend {
  overflow: hidden;
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
}

button {
  cursor: pointer;
}

.skip-nav {
  display: none;
}

.notice-bar {
  width: 100%;
  border-bottom: 1px solid #dfe6e8;
  border-top: 3px solid #00cd3c;
}
.notice-bar__list {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 63.125rem;
  color: #909090;
  justify-content: flex-end;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
.notice-bar__item:first-child a {
  position: relative;
}
.notice-bar__item:first-child a::before {
  content: "";
  position: absolute;
  background: url("../../assets/images/icon-ticket.svg");
  width: 1.25rem;
  height: 1.25rem;
  left: -0.625rem;
  top: 0;
}
.notice-bar__item:nth-child(2) a {
  position: relative;
}
.notice-bar__item:nth-child(2) a::before {
  content: "";
  position: absolute;
  display: block;
  border-left: 1px solid #dfe6e8;
  width: 100%;
  height: 0.875rem;
  transform: translateX(-14px);
}
.notice-bar__item:last-child a {
  padding-left: 0;
}
.notice-bar__item:nth-child(3) a {
  position: relative;
}
.notice-bar__item:nth-child(3) a::before {
  content: "";
  position: absolute;
  display: block;
  border-left: 1px solid #dfe6e8;
  width: 100%;
  height: 0.875rem;
  transform: translateX(-14px);
}
.notice-bar__item:nth-child(4) a {
  position: relative;
}
.notice-bar__item:nth-child(4) a::before {
  content: "";
  position: absolute;
  display: block;
  border-left: 1px solid #dfe6e8;
  width: 100%;
  height: 0.875rem;
  transform: translateX(-14px);
}
.notice-bar__link {
  display: block;
  padding: 0.375rem 0.875rem;
  font-size: 0.75rem;
  font-weight: 400;
}
.notice-bar__link:hover {
  color: #333333;
}
.notice-bar .order {
  order: -1;
  flex-grow: 1;
  padding: 0;
}

.header {
  margin-left: auto;
  margin-right: auto;
  width: 63.125rem;
  display: flex;
  height: 5.625rem;
  margin-top: 10px;
}
.header__logo {
  display: flex;
  align-items: center;
}
.header__search {
  display: flex;
  align-items: center;
}
.header__search__input {
  width: 20rem;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  border: 2px solid #00cd3c;
  border-radius: 1.875rem;
  margin-left: 1.25rem;
}
.header__search__input::placeholder {
  padding-left: 0.3125rem;
  font-size: 0.75rem;
}
.header__search fieldset {
  position: relative;
}
.header__search__button {
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  background: url("../../assets/images/icon-search.svg");
  right: 1.25rem;
  top: 50%;
  transform: translateY(-50%);
}
.header__rising__group {
  display: flex;
  align-items: center;
  margin-left: 0.9375rem;
  font-size: 0.75rem;
  color: #333333;
  position: relative;
  width: 13.75rem;
}
.header__rising__text {
  color: #fff;
  background: #00cd3c;
  float: left;
  border-radius: 10px;
  padding: 0.0625rem 0.375rem;
  font-size: 0.6875rem;
}
.header__rising__list {
  display: inline-block;
  padding: 0.9375rem;
  position: absolute;
  top: 25%;
  right: 0.75rem;
  height: 1.875rem;
  overflow: hidden;
}
.header__rising__list:hover {
  overflow: visible;
  height: fit-content;
  border: 1px solid #b4b4b4;
  background: #fff;
  z-index: 1;
}
.header__rising__item {
  margin-top: 0.625rem;
}
.header__rising__item:first-child {
  margin-top: 0;
}
.header__rising__number {
  margin-right: 0.625rem;
}
.header__rising__info {
  margin-right: 1.25rem;
}
.header__rising__info::after {
  content: "";
  position: absolute;
  width: 0.625rem;
  height: 0.625rem;
  background: green;
  right: 0.625rem;
}
.header__ad__image {
  flex-grow: 1;
  background: url("../../assets/images/header-ad-image.png") no-repeat 100% 100%/90%;
}
.header__nav {
  margin-top: 0.625rem;
  padding-bottom: 0.625rem;
  border-bottom: 1px solid #b4b4b4;
}
.header__nav__list {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  width: 63.125rem;
  justify-content: space-between;
  font-weight: 500;
}
.header__nav__list :first-child {
  padding-left: 0;
}
.header__nav__list :nth-child(10) {
  justify-content: flex-end;
  width: 17.5rem;
  text-align: end;
}
.header__nav__list :nth-child(10) a {
  color: #909090;
}
.header__nav__item {
  padding: 0.3125rem 0.625rem;
}
.header__nav__link:hover {
  color: #00cd3c;
}
@media (max-width: 1023px) {
  .header {
    background: yellow;
  }
}
@media (max-width: 479px) {
  .header {
    background: red;
  }
}

.footer {
  font-family: monospace;
  border-top: 1px solid #b4b4b4;
  background: #f8f8f8;
  height: auto;
  padding-top: 1.125rem;
  padding-bottom: 1.125rem;
}
.footer__group {
  margin: 0 auto;
}
.footer__extra {
  border-bottom: 1px solid #b4b4b4;
  padding-bottom: 15px;
}
.footer__extra__list {
  text-align: start;
  padding-left: 10px;
  width: 63.125rem;
  margin: 0 auto;
}
@media (max-width: 479px) {
  .footer__extra__list {
    width: 100%;
  }
}
.footer__extra__item {
  margin-right: 0.9375rem;
  display: inline-block;
}
@media (max-width: 479px) {
  .footer__extra__item {
    margin-right: 0.4375rem;
  }
}
@media (max-width: 1023px) {
  .footer__extra__item {
    margin-right: 0.75rem;
  }
}
.footer__extra__item-link {
  padding: 18px 0 15px 0;
  color: #666666;
  font-weight: 700;
  font-size: 1rem;
}
.footer__extra__item-link:hover {
  color: #333333;
}
@media (max-width: 1023px) {
  .footer__extra__item-link {
    font-size: 0.9375rem;
  }
}
@media (max-width: 479px) {
  .footer__extra__item-link {
    font-size: 0.875rem;
  }
}
.footer__service__list {
  width: 63.125rem;
  display: flex;
  flex-flow: row wrap;
  padding-left: 10px;
  margin-left: auto;
  margin-right: auto;
  color: #1a1a1a;
  font-size: 0.75rem;
  margin-top: 1.625rem;
}
@media (max-width: 1023px) {
  .footer__service__list {
    width: 100%;
  }
}
@media (max-width: 479px) {
  .footer__service__list {
    width: 100%;
  }
}
.footer__service__item-link:hover {
  padding-bottom: 1px;
  border-bottom: 1px solid black;
}
.footer__service__item:not(:last-child)::after {
  content: "";
  width: 0.5px;
  height: auto;
  border: 0.5px solid #dfe6e8;
  margin: 0 5px 0 5px;
}
.footer__service__item:nth-child(2) {
  color: #000;
  font-weight: 900;
}
.footer__company {
  margin: 19px 0 54px 0;
  color: #666666;
  margin-left: 0.625rem;
}
.footer__company__info__list {
  font-size: 11px;
  width: 63.125rem;
  display: flex;
  flex-flow: row wrap;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 1023px) {
  .footer__company__info__list {
    width: 100%;
  }
}
@media (max-width: 479px) {
  .footer__company__info__list {
    width: 100%;
  }
}
.footer__company__info__item {
  padding-bottom: 8px;
  white-space: nowrap;
}
.footer__company__info__item:not(:last-child)::after {
  content: "";
  width: 0.5px;
  height: auto;
  border: 0.5px solid #dfe6e8;
  margin: 0 5px 0 5px;
}
.footer__company__contact {
  font-size: 11px;
  width: 63.125rem;
  display: flex;
  flex-flow: row wrap;
  margin-left: auto;
  margin-right: auto;
  font-size: 11px;
}
@media (max-width: 1023px) {
  .footer__company__contact {
    width: 100%;
  }
}
@media (max-width: 479px) {
  .footer__company__contact {
    width: 100%;
  }
}
.footer__company__contact__item {
  white-space: nowrap;
}
.footer__company__contact__item:not(:last-child)::after {
  content: "";
  width: 0.5px;
  height: auto;
  border: 0.5px solid #dfe6e8;
  margin: 0 5px 0 5px;
}

.login__header,
.login__main,
.login__footer {
  width: 34.375rem;
  margin-left: auto;
  margin-right: auto;
}

.login__header {
  text-align: center;
}
.login__header__logo__wrapper {
  width: 12.875rem;
  height: 3.5rem;
  margin: 4.25rem auto 2.625rem;
}
.login__header__svg {
  width: 100%;
  height: 100%;
}

.login__form {
  width: 24.375rem;
  margin-left: auto;
  margin-right: auto;
  padding: 1.8125rem 0 1.4375rem;
}
.login__form__input {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  border: 1px solid #cccccc;
}
.login__form__input__id, .login__form__input__pw {
  width: 100%;
  height: 3.0625rem;
  padding-left: 0.6875rem;
  padding-right: 0.6875rem;
  border: none;
  border: 1px solid #dfe6e8;
}
.login__form__input__id {
  border-bottom: 1px solid #dfe6e8;
}
.login__form__help {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: stretch;
  padding: 1.25rem 0 1.625rem;
  font-size: 0.75rem;
  color: #666666;
}
.login__form__btn__button {
  width: 100%;
  height: 3.75rem;
  background-color: #00cd3c;
  color: #fff;
  border: none;
  font-size: 1.125rem;
}

.login__footer {
  margin-top: 2.625rem;
}
.login__footer__wrapper {
  width: 24.375rem;
  height: 6.5rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
}
.login__footer__info li {
  display: inline-block;
  font-size: 0.8125rem;
  color: #767676;
}
.login__footer__info li span {
  margin: 0 0.5rem;
}
.login__footer__tel {
  font-size: 0.75rem;
  color: #666666;
}
.login__footer__copyright {
  font-size: 0.6875rem;
  color: #969696;
}

.dj__wrapper::after {
  content: "";
  display: block;
  width: 100%;
  height: 45px;
  background: #f8f8f8;
  border-bottom: 1px solid #dfe6e8;
}

.header__nav__item:nth-child(4)::after {
  content: "";
  display: block;
  width: 100%;
  border-bottom: 2px solid #00cd3c;
  transform: translateY(15px);
}

.header__nav__item {
  position: relative;
}
.header__nav__item .header__dj__list {
  position: absolute;
  display: flex;
  top: 3.625rem;
  left: -12.5rem;
  width: 380px;
  justify-content: space-around;
}
.header__nav__item .header__dj__item {
  color: #888888;
  font-size: 0.875rem;
}
.header__nav__item .header__dj__item:first-child {
  color: #01b925;
}
.header__nav__item .header__dj__item :hover {
  color: #01b925;
}

.main__wrapper {
  margin-top: 1.875rem;
}

.today-section {
  width: 63.125rem;
  margin-left: auto;
  margin-right: auto;
}
.today-section h3 {
  margin-top: 20px;
}
.today-section__form {
  display: flex;
}
.today-section__form fieldset {
  display: flex;
}
.today-section__title {
  font-weight: 400;
  font-size: 1.375rem;
  flex-grow: 1;
}
.today-section__select {
  width: 7.5rem;
  border: none;
  border-bottom: 1px solid #b4b4b4;
  padding-left: 0.625rem;
  color: #333333;
}
.today-section__input {
  margin-left: 0.3125rem;
  width: 18.75rem;
  border: none;
  border-bottom: 1px solid #b4b4b4;
  background-image: url("../../assets/images/icon-search-gray.svg");
  background-repeat: no-repeat;
  background-size: 0.9375rem;
  background-position: 98% 80%;
}
.today-section__input::placeholder {
  color: #cccccc;
}
.today-section__button {
  font-size: 0.875rem;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  margin-left: 2.5rem;
  border: 1px solid #b4b4b4;
  border-radius: 30px;
  width: 140px;
  text-align: center;
}
.today-section__card__list {
  display: flex;
  gap: 0.875rem;
  overflow: hidden;
}
.today-section__card__item {
  border: 1px solid #dfe6e8;
}
.today-section__card__img {
  width: 100%;
  height: 15rem;
}
.today-section__card__desc {
  border-top: 1px solid #dfe6e8;
  position: relative;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}
.today-section__card__title {
  display: block;
  font-size: 0.875rem;
  color: #333333;
  margin-bottom: 0.625rem;
  height: 3.75rem;
  width: 12.5rem;
  line-height: 1.25rem;
}
.today-section__card__title:hover {
  text-decoration: underline;
}
.today-section__card__dj {
  font-size: 0.75rem;
  color: #333333;
  position: relative;
}
.today-section__card__dj:hover {
  text-decoration: underline;
}
.today-section__card__info {
  margin-bottom: 0.625rem;
}
.today-section__card__like {
  font-size: 0.75rem;
  color: #888888;
}
.today-section__card__like::before {
  content: "";
  display: inline-block;
  background: url("https://cdnimg.melon.co.kr/resource/image/web/common/bullet_icons_sprite_20201112.png") no-repeat -69px -14px;
  width: 0.875rem;
  height: 0.75rem;
  margin-right: 0.4375rem;
  vertical-align: text-top;
}
.today-section__card__hash {
  display: inline-block;
  font-size: 0.75rem;
  color: #888888;
  border: 1px solid #b4b4b4;
  border-radius: 0.9375rem;
  margin-right: 0.3125rem;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
}
.today-section__card__hash:hover {
  border: 1px solid #666666;
}
.today-section__card__profile {
  display: block;
  width: 2.8125rem;
  height: 2.8125rem;
  border-radius: 50%;
  border: 1px solid #dfe6e8;
  position: absolute;
  top: -1.5625rem;
  right: 1.25rem;
}
.today-section .mark-dj::after {
  content: "";
  display: inline-block;
  width: 0.9375rem;
  height: 0.9375rem;
  position: absolute;
  right: -1.25rem;
  top: 50%;
  transform: translateY(-50%);
  background: url("https://cdnimg.melon.co.kr/resource/image/web/common/ic_common_verify14.png");
}
.today-section .profile1 {
  background: url("https://cdnimg.melon.co.kr/svc/user_images/user/7/60/659951_46.jpg?tm=20220510100909") 100%/contain;
}
.today-section .profile2 {
  background: url("https://cdnimg.melon.co.kr/svc/user_images/user/509/58/50857097_46.jpg?tm=20220318115222") 100%/contain;
}
.today-section .profile3 {
  background: url("https://cdnimg.melon.co.kr/svc/user_images/user/356/95/35594080_46.jpg?tm=20211222034700") 100%/contain;
}
.today-section .profile4 {
  background: url("https://cdnimg.melon.co.kr/svc/user_images/user/502/63/50162126_46.jpg?tm=20220524120620") 100%/contain;
}
.today-section .profile5 {
  background: url("https://cdnimg.melon.co.kr/svc/user_images/user/377/68/37667293_46.jpg?tm=20220103031155") 100%/contain;
}
.today-section .profile6 {
  background: url("https://cdnimg.melon.co.kr/svc/user_images/user/601/77/60076424_46.jpg?tm=20220311042250") 100%/contain;
}
.today-section .profile7 {
  background: url("https://cdnimg.melon.co.kr/svc/user_images/user/2/53/152501_46.jpg?tm=20220517103825") 100%/contain;
}
.today-section .profile8 {
  background: url("https://cdnimg.melon.co.kr/svc/user_images/user/348/31/34730789_46.jpg?tm=20220127083334") 100%/contain;
}
.today-section .list-num {
  font-size: 0.75rem;
  color: #888888;
  position: relative;
  margin-left: 0.75rem;
}
.today-section .list-num::before {
  content: "";
  display: block;
  border-left: 1px solid #888888;
  height: 0.625rem;
  margin-right: 0.625rem;
  right: 1.25rem;
  top: 0.125rem;
  position: absolute;
}
.today-section .orange-dj {
  color: #f0780a;
  font-size: 0.75rem;
}
.today-section .green-dj {
  color: #00cd3c;
  font-size: 0.75rem;
}

.recommend-wrapper {
  background: #f8f8f8;
  margin-top: 3.125rem;
}
.recommend-wrapper .recommend {
  width: 63.125rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}
.recommend-wrapper .recommend__logo {
  margin-left: 3.125rem;
  position: relative;
}
.recommend-wrapper .recommend__img {
  border-radius: 50%;
}
.recommend-wrapper .recommend__pick {
  position: absolute;
  top: 0;
  right: 0;
}
.recommend-wrapper .recommend__right {
  margin-left: 3.125rem;
}
.recommend-wrapper .recommend__right__title {
  margin-top: 0.9375rem;
  font-size: 1.125rem;
  color: #01b925;
}
.recommend-wrapper .recommend__right__desc {
  margin-top: 0.625rem;
  font-size: 1.25rem;
  font-weight: 500;
  color: #333333;
}
.recommend-wrapper .recommend__right__list {
  display: flex;
  margin-top: 1.875rem;
}
.recommend-wrapper .recommend__right__link__img {
  width: 2.1875rem;
  height: 2.1875rem;
  border-radius: 50%;
  margin-right: 0.625rem;
}
.recommend-wrapper .recommend__right__dot {
  margin-top: 1.875rem;
}
.recommend-wrapper .recommend__right__five {
  margin-top: 1.875rem;
  color: #333333;
  font-weight: 300;
  margin-left: 0.625rem;
}
.recommend-wrapper .recommend__right__five .five {
  font-weight: 600;
}
.recommend-wrapper .recommend__right__button {
  margin-top: 1.875rem;
  padding-left: 1.125rem;
  padding-right: 1.125rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-weight: 300;
  color: #01b925;
  border: 1px solid #01b925;
  border-radius: 1.25rem;
  font-size: 0.875rem;
}
.recommend-wrapper .recommend__people {
  display: flex;
  gap: 0.625rem;
  align-items: center;
}

.dj-list__tag {
  width: 63.125rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  padding-top: 3.125rem;
  padding-bottom: 3.125rem;
}
.dj-list__tag__title {
  font-size: 1.125rem;
}
.dj-list__tag__list {
  display: flex;
  margin-left: 5rem;
}
.dj-list__tag__link {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border: 1px solid #b4b4b4;
  border-radius: 1.25rem;
  color: #666666;
  font-weight: 300;
  font-size: 0.75rem;
  margin-right: 0.625rem;
}
.dj-list__tag__link:hover {
  border: 1px solid #666666;
}
.dj-list__hiphop {
  width: 63.125rem;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.125rem;
  font-weight: 400;
}
.dj-list__hiphop__group {
  width: 63.125rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.25rem;
}
.dj-list__hiphop__list {
  display: flex;
  gap: 1.25rem;
}
.dj-list__hiphop__item {
  border: 1px solid #dfe6e8;
}
.dj-list__hiphop__img {
  width: 100%;
  height: 15rem;
}
.dj-list__hiphop__desc {
  border-top: 1px solid #dfe6e8;
  position: relative;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-top: 1.5625rem;
  padding-bottom: 1.5625rem;
}
.dj-list__hiphop__title {
  display: block;
  font-size: 0.875rem;
  color: #333333;
  margin-bottom: 0.625rem;
  height: 3.75rem;
  width: 12.5rem;
  line-height: 1.25rem;
}
.dj-list__hiphop__title:hover {
  text-decoration: underline;
}
.dj-list__hiphop__dj {
  font-size: 0.75rem;
  color: #333333;
  position: relative;
}
.dj-list__hiphop__dj:hover {
  text-decoration: underline;
}
.dj-list__hiphop__info {
  margin-bottom: 0.625rem;
}
.dj-list__hiphop__like {
  font-size: 0.75rem;
  color: #888888;
}
.dj-list__hiphop__like::before {
  content: "";
  display: inline-block;
  background: url("https://cdnimg.melon.co.kr/resource/image/web/common/bullet_icons_sprite_20201112.png") no-repeat -69px -14px;
  width: 0.875rem;
  height: 0.75rem;
  margin-right: 0.4375rem;
  vertical-align: text-top;
}
.dj-list__hiphop__hash {
  display: inline-block;
  font-size: 0.75rem;
  color: #888888;
  border: 1px solid #b4b4b4;
  border-radius: 0.9375rem;
  margin-right: 0.3125rem;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
}
.dj-list__hiphop__hash:hover {
  border: 1px solid #666666;
}
.dj-list__hiphop__profile {
  display: block;
  width: 2.8125rem;
  height: 2.8125rem;
  border-radius: 50%;
  border: 1px solid #dfe6e8;
  position: absolute;
  top: -1.5625rem;
  right: 1.25rem;
}
.dj-list .mark-dj::after {
  content: "";
  display: inline-block;
  width: 0.9375rem;
  height: 0.9375rem;
  position: absolute;
  right: -1.25rem;
  top: 50%;
  transform: translateY(-50%);
  background: url("https://cdnimg.melon.co.kr/resource/image/web/common/ic_common_verify14.png");
}
.dj-list .hiphop-profile1 {
  background: url("https://cdnimg.melon.co.kr/svc/user_images/user/377/68/37667306_46.jpg?tm=20220328092727") 100%/contain;
}
.dj-list .hiphop-profile2 {
  background: url("https://cdnimg.melon.co.kr/svc/user_images/user/213/71/21270688_46.jpg?tm=20220429080116") 100%/contain;
}
.dj-list .hiphop-profile3 {
  background: url("https://cdnimg.melon.co.kr/svc/user_images/user/377/68/37667293_46.jpg?tm=20220103031155") 100%/contain;
}
.dj-list .hiphop-profile4 {
  background: url("https://cdnimg.melon.co.kr/svc/user_images/user/214/22/21321753_46.jpg?tm=20220603074831") 100%/contain;
}
.dj-list .list-num {
  font-size: 0.75rem;
  color: #888888;
  position: relative;
  margin-left: 0.75rem;
}
.dj-list .list-num::before {
  content: "";
  display: block;
  border-left: 1px solid #888888;
  height: 0.625rem;
  margin-right: 0.625rem;
  right: 1.25rem;
  top: 0.125rem;
  position: absolute;
}
.dj-list .orange-dj {
  color: #f0780a;
  font-size: 0.75rem;
}
.dj-list .green-dj {
  color: #00cd3c;
  font-size: 0.75rem;
}
.dj-list__rock {
  width: 63.125rem;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.125rem;
  font-weight: 400;
  margin-top: 2.5rem;
}
.dj-list__rock__group {
  width: 63.125rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.25rem;
}
.dj-list__rock__list {
  display: flex;
  gap: 1.25rem;
}
.dj-list__rock__item {
  border: 1px solid #dfe6e8;
}
.dj-list__rock__img {
  width: 100%;
  height: 15rem;
}
.dj-list__rock__desc {
  border-top: 1px solid #dfe6e8;
  position: relative;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-top: 1.5625rem;
  padding-bottom: 1.5625rem;
}
.dj-list__rock__title {
  display: block;
  font-size: 0.875rem;
  color: #333333;
  margin-bottom: 0.625rem;
  height: 3.75rem;
  width: 12.5rem;
  line-height: 1.25rem;
}
.dj-list__rock__title:hover {
  text-decoration: underline;
}
.dj-list__rock__dj {
  font-size: 0.75rem;
  color: #333333;
  position: relative;
}
.dj-list__rock__dj:hover {
  text-decoration: underline;
}
.dj-list__rock__info {
  margin-bottom: 0.625rem;
}
.dj-list__rock__like {
  font-size: 0.75rem;
  color: #888888;
}
.dj-list__rock__like::before {
  content: "";
  display: inline-block;
  background: url("https://cdnimg.melon.co.kr/resource/image/web/common/bullet_icons_sprite_20201112.png") no-repeat -69px -14px;
  width: 0.875rem;
  height: 0.75rem;
  margin-right: 0.4375rem;
  vertical-align: text-top;
}
.dj-list__rock__hash {
  display: inline-block;
  font-size: 0.75rem;
  color: #888888;
  border: 1px solid #b4b4b4;
  border-radius: 0.9375rem;
  margin-right: 0.3125rem;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
}
.dj-list__rock__hash:hover {
  border: 1px solid #666666;
}
.dj-list__rock__profile {
  display: block;
  width: 2.8125rem;
  height: 2.8125rem;
  border-radius: 50%;
  border: 1px solid #dfe6e8;
  position: absolute;
  top: -1.5625rem;
  right: 1.25rem;
}
.dj-list .mark-dj::after {
  content: "";
  display: inline-block;
  width: 0.9375rem;
  height: 0.9375rem;
  position: absolute;
  right: -1.25rem;
  top: 50%;
  transform: translateY(-50%);
  background: url("https://cdnimg.melon.co.kr/resource/image/web/common/ic_common_verify14.png");
}
.dj-list .rock-profile1 {
  background: url("https://cdnimg.melon.co.kr/svc/user_images/user/377/68/37667310_46.jpg?tm=20220216013257") 100%/contain;
}
.dj-list .rock-profile2 {
  background: url("https://cdnimg.melon.co.kr/svc/user_images/user/377/68/37667310_46.jpg?tm=20220216013257") 100%/contain;
}
.dj-list .rock-profile3 {
  background: url("https://cdnimg.melon.co.kr/svc/user_images/user/377/68/37667310_46.jpg?tm=20220216013257") 100%/contain;
}
.dj-list .rock-profile4 {
  background: url("https://cdnimg.melon.co.kr/svc/user_images/user/377/68/37667310_46.jpg?tm=20220216013257") 100%/contain;
}
.dj-list .list-num {
  font-size: 0.75rem;
  color: #888888;
  position: relative;
  margin-left: 0.75rem;
}
.dj-list .list-num::before {
  content: "";
  display: block;
  border-left: 1px solid #888888;
  height: 0.625rem;
  margin-right: 0.625rem;
  right: 1.25rem;
  top: 0.125rem;
  position: absolute;
}
.dj-list .orange-dj {
  color: #f0780a;
  font-size: 0.75rem;
}
.dj-list .green-dj {
  color: #00cd3c;
  font-size: 0.75rem;
}
.dj-list__boring {
  width: 63.125rem;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.125rem;
  font-weight: 400;
  margin-top: 2.5rem;
}
.dj-list__boring__group {
  width: 63.125rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.25rem;
}
.dj-list__boring__list {
  display: flex;
  gap: 1.25rem;
}
.dj-list__boring__item {
  border: 1px solid #dfe6e8;
}
.dj-list__boring__img {
  width: 100%;
  height: 15rem;
}
.dj-list__boring__desc {
  border-top: 1px solid #dfe6e8;
  position: relative;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-top: 1.5625rem;
  padding-bottom: 1.5625rem;
}
.dj-list__boring__title {
  display: block;
  font-size: 0.875rem;
  color: #333333;
  margin-bottom: 0.625rem;
  height: 3.75rem;
  width: 12.5rem;
  line-height: 1.25rem;
}
.dj-list__boring__title:hover {
  text-decoration: underline;
}
.dj-list__boring__dj {
  font-size: 0.75rem;
  color: #333333;
  position: relative;
}
.dj-list__boring__dj:hover {
  text-decoration: underline;
}
.dj-list__boring__info {
  margin-bottom: 0.625rem;
}
.dj-list__boring__like {
  font-size: 0.75rem;
  color: #888888;
}
.dj-list__boring__like::before {
  content: "";
  display: inline-block;
  background: url("https://cdnimg.melon.co.kr/resource/image/web/common/bullet_icons_sprite_20201112.png") no-repeat -69px -14px;
  width: 0.875rem;
  height: 0.75rem;
  margin-right: 0.4375rem;
  vertical-align: text-top;
}
.dj-list__boring__hash {
  display: inline-block;
  font-size: 0.75rem;
  color: #888888;
  border: 1px solid #b4b4b4;
  border-radius: 0.9375rem;
  margin-right: 0.3125rem;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
}
.dj-list__boring__hash:hover {
  border: 1px solid #666666;
}
.dj-list__boring__profile {
  display: block;
  width: 2.8125rem;
  height: 2.8125rem;
  border-radius: 50%;
  border: 1px solid #dfe6e8;
  position: absolute;
  top: -1.5625rem;
  right: 1.25rem;
}
.dj-list .mark-dj::after {
  content: "";
  display: inline-block;
  width: 0.9375rem;
  height: 0.9375rem;
  position: absolute;
  right: -1.25rem;
  top: 50%;
  transform: translateY(-50%);
  background: url("https://cdnimg.melon.co.kr/resource/image/web/common/ic_common_verify14.png");
}
.dj-list .boring-profile1 {
  background: url("https://cdnimg.melon.co.kr/svc/user_images/user/377/68/37667325_46.jpg?tm=20211229032624") 100%/contain;
}
.dj-list .boring-profile2 {
  background: url("https://cdnimg.melon.co.kr/svc/user_images/user/407/56/40655407_46.jpg?tm=20220426063431") 100%/contain;
}
.dj-list .boring-profile3 {
  background: url("https://cdnimg.melon.co.kr/svc/user_images/user/208/94/20793038_46.jpg?tm=20220320104517") 100%/contain;
}
.dj-list .boring-profile4 {
  background: url("https://cdnimg.melon.co.kr/svc/user_images/user/509/58/50857096_46.jpg?tm=20201104063751") 100%/contain;
}
.dj-list .list-num {
  font-size: 0.75rem;
  color: #888888;
  position: relative;
  margin-left: 0.75rem;
}
.dj-list .list-num::before {
  content: "";
  display: block;
  border-left: 1px solid #888888;
  height: 0.625rem;
  margin-right: 0.625rem;
  right: 1.25rem;
  top: 0.125rem;
  position: absolute;
}
.dj-list .orange-dj {
  color: #f0780a;
  font-size: 0.75rem;
}
.dj-list .green-dj {
  color: #00cd3c;
  font-size: 0.75rem;
}
.dj-list__summer {
  width: 63.125rem;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.125rem;
  font-weight: 400;
  margin-top: 2.5rem;
}
.dj-list__summer__group {
  width: 63.125rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.25rem;
  margin-bottom: 8.125rem;
}
.dj-list__summer__list {
  display: flex;
  gap: 1.25rem;
}
.dj-list__summer__item {
  border: 1px solid #dfe6e8;
}
.dj-list__summer__img {
  width: 100%;
  height: 15rem;
}
.dj-list__summer__desc {
  border-top: 1px solid #dfe6e8;
  position: relative;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-top: 1.5625rem;
  padding-bottom: 1.5625rem;
}
.dj-list__summer__title {
  display: block;
  font-size: 0.875rem;
  color: #333333;
  margin-bottom: 0.625rem;
  height: 3.75rem;
  width: 12.5rem;
  line-height: 1.25rem;
}
.dj-list__summer__title:hover {
  text-decoration: underline;
}
.dj-list__summer__dj {
  font-size: 0.75rem;
  color: #333333;
  position: relative;
}
.dj-list__summer__dj:hover {
  text-decoration: underline;
}
.dj-list__summer__info {
  margin-bottom: 0.625rem;
}
.dj-list__summer__like {
  font-size: 0.75rem;
  color: #888888;
}
.dj-list__summer__like::before {
  content: "";
  display: inline-block;
  background: url("https://cdnimg.melon.co.kr/resource/image/web/common/bullet_icons_sprite_20201112.png") no-repeat -69px -14px;
  width: 0.875rem;
  height: 0.75rem;
  margin-right: 0.4375rem;
  vertical-align: text-top;
}
.dj-list__summer__hash {
  display: inline-block;
  font-size: 0.75rem;
  color: #888888;
  border: 1px solid #b4b4b4;
  border-radius: 0.9375rem;
  margin-right: 0.3125rem;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
}
.dj-list__summer__hash:hover {
  border: 1px solid #666666;
}
.dj-list__summer__profile {
  display: block;
  width: 2.8125rem;
  height: 2.8125rem;
  border-radius: 50%;
  border: 1px solid #dfe6e8;
  position: absolute;
  top: -1.5625rem;
  right: 1.25rem;
}
.dj-list .mark-dj::after {
  content: "";
  display: inline-block;
  width: 0.9375rem;
  height: 0.9375rem;
  position: absolute;
  right: -1.25rem;
  top: 50%;
  transform: translateY(-50%);
  background: url("https://cdnimg.melon.co.kr/resource/image/web/common/ic_common_verify14.png");
}
.dj-list .summer-profile1 {
  background: url("https://cdnimg.melon.co.kr/svc/user_images/user/351/77/35076857_46.jpg?tm=20220524101826") 100%/contain;
}
.dj-list .summer-profile2 {
  background: url("https://cdnimg.melon.co.kr/svc/user_images/user/208/94/20793038_46.jpg?tm=20220320104517") 100%/contain;
}
.dj-list .summer-profile3 {
  background: url("https://cdnimg.melon.co.kr/svc/user_images/user/369/61/36860740_46.jpg?tm=20220528034934") 100%/contain;
}
.dj-list .summer-profile4 {
  background: url("https://cdnimg.melon.co.kr/svc/user_images/user/400/70/39969337_46.jpg?tm=20220325061206") 100%/contain;
}
.dj-list .list-num {
  font-size: 0.75rem;
  color: #888888;
  position: relative;
  margin-left: 0.75rem;
}
.dj-list .list-num::before {
  content: "";
  display: block;
  border-left: 1px solid #888888;
  height: 0.625rem;
  margin-right: 0.625rem;
  right: 1.25rem;
  top: 0.125rem;
  position: absolute;
}
.dj-list .orange-dj {
  color: #f0780a;
  font-size: 0.75rem;
}
.dj-list .green-dj {
  color: #00cd3c;
  font-size: 0.75rem;
}

/*# sourceMappingURL=style.css.map */
