<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>watermelon-genre</title>
    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body>
    <div class="genre">
        <h2 class="genre__kpop">한국 대중음악</h2>

        <section class="genre__sub">
            <h3 class="sr-only">국내 음악 장르</h3>
            <ul class="genre__sub__list">
                <li class="genre__sub__item is-active"><a href="/" class="genre__sub__item-link">발라드</a></li>
                <li class="genre__sub__item"><a href="/" class="genre__sub__item-link">댄스</a></li>
                <li class="genre__sub__item"><a href="/" class="genre__sub__item-link">랩/힙합</a></li>
                <li class="genre__sub__item"><a href="/" class="genre__sub__item-link">R&B/Soul</a></li>
                <li class="genre__sub__item"><a href="/" class="genre__sub__item-link">인디음악</a></li>
                <li class="genre__sub__item"><a href="/" class="genre__sub__item-link">록/메탈</a></li>
                <li class="genre__sub__item"><a href="/" class="genre__sub__item-link">트로트</a></li>
                <li class="genre__sub__item"><a href="/" class="genre__sub__item-link">포크/블루스</a></li>
            </ul>

                <div class="new">
                    <div class="new__album">
                        <h3 class="new__album-header">최신앨범</h3>
                        <ul class="new__album__list">
                            <li class="new__album__item">
                                <div class="new__album__item-img">
                                    <img src="../assets/images/genre-img1.jpeg" alt="최신앨범">
                                </div>
                                <!-- 검정 투명 -->
                                <span class="new__album__item-play-group">
                                    <a href="/" class="new__album__item-link" aria-label="재생 버튼">
                                    </a>
                                </span>
                                <span class="new__album__item-opacity">
                                <div class="new__album__item-group">
                                        <a href="/" class="new__album__item-title"><span class="new__album__item-title--link">달팽이</span></a>
                                        <a href="/" class="new__album__item-singer"><span class="new__album__item-title--link">김재환</span></a>
                                    </div>
                                </span>
                            </li>
                            <li class="new__album__item">
                                <div class="new__album__item-img">
                                    <img src="../assets/images/genre-img2.jpeg" alt="최신앨범">
                                </div>
                                <span class="new__album__item-opacity">
                                <div class="new__album__item-group">
                                        <a href="/" class="new__album__item-title"><span class="new__album__item-title--link">너는 별</span></a>
                                        <a href="/" class="new__album__item-singer"><span class="new__album__item-title--link">홍대광</span></a>
                                    </div>
                                </span>
                                <span class="new__album__item-play-group">
                                    <a href="" class="new__album__item-link" aria-label="재생 버튼"></a>
                                </span>
                            </li>
                            <li class="new__album__item">
                                <div class="new__album__item-img">
                                    <img src="../assets/images/genre-img3.jpeg" alt="최신앨범">
                                </div>
                                <span class="new__album__item-opacity">
                                <div class="new__album__item-group">
                                        <a href="/" class="new__album__item-title"><span class="new__album__item-title--link">11:59pm</span></a>
                                        <a href="/" class="new__album__item-singer"><span class="new__album__item-title--link">김준휘</span></a>
                                    </div>
                                </span>
                                <span class="new__album__item-play-group">
                                    <a href="" class="new__album__item-link" aria-label="재생 버튼"></a>
                                </span>
                            </li>
                        </ul>
                    </div>
                    <div class="new__playlist">
                        <h3 class="new__playlist-header">오늘의 추천 음악</h3>
                        <div class="new__playlist__group">
                            <div class="new__playlist-img">
                                <img src="../assets/images/genre-img5.jpeg" alt="추천 플레이리스트">
                            </div>
                            <span class="new__playlist-opacity">
                                <div class="new__playlist__links">
                                    <a href="" class="new__playlist__links-dj"><span class="new__playlist__links-dj-em">DJ</span><span class="new__playlist__links-dj-name">밍구의플리</span></a>
                                    <a href="" class="new__playlist__links-title">너를 처음 만난 그떄처럼 두근거리는 사랑 이야기 플리</a>
                                    <div class="new__playlist__links__hash-group">
                                        <a href="/" class="new__playlist__links-hash1">#사랑</a>
                                        <a href="/" class="new__playlist__links-hash2">#설렘</a>
                                    </div>
                                </div>
                            </span>
                        </div>
                    </div>
                </div>
            </div> 
        </section>

      
        <section class="music__category">
            <h3 class="sr-only">최신곡부터 추천음악까지</h3>
            <ul class="music__category__list">
                <li class="music__category__item is-active"><a href="/" class="genre__sub__item-link">발라드</a></li>
                <li class="music__category__item "><a href="/" class="music__category__item-link">댄스</a></li>
                <li class="music__category__item"><a href="/" class="music__category__item-link">랩/힙합</a></li>
                <li class="music__category__item"><a href="/" class="music__category__item-link">R&B/Soul</a></li>
                <li class="music__category__item"><a href="/" class="music__category__item-link">인디음악</a></li>
            </ul>
        </section>
    </section>
  </body>
</html>
