@use "sass:math";

// padding 관련 믹스인
@mixin paddingX($paddingX: 0) {
  padding-left: rem($paddingX);
  padding-right: rem($paddingX);
}

@mixin paddingY($paddingY: 0) {
  padding-top: rem($paddingY);
  padding-bottom: rem($paddingY);
}

// margin 관련 믹스인
@mixin autoMargin($marginX: auto) {
  margin-left: $marginX;
  margin-right: $marginX;
}

@mixin marginX($marginX: 0) {
  margin-left: rem($marginX);
  margin-right: rem($marginX);
}

@mixin marginY($marginY: 0) {
  margin-top: rem($marginY);
  margin-bottom: rem($marginY);
}

// 박스의 최소 및 최대 너비를 설정하기 위한 믹스인
@mixin boxSizeMinMax($min: 768px, $max: 1200px) {
  min-width: $min;
  max-width: $max;
  @include autoMargin;
}

// flex 박스 믹스인
@mixin flexbox(
  $direction: row,
  $justify: flex-start,
  $items: stretch,
  $wrap: nowrap
) {
  display: flex;
  flex-flow: $direction $wrap;
  justify-content: $justify;
  align-items: $items;
}

@mixin pos($position: absolute) {
  position: $position;
}

// 이미지 중앙 정렬 (50$)
@mixin centerTranslateY($percent: -50%) {
  top: 50%;
  transform: translateY($percent);
}

@mixin centerTranslateX($percent: -50%) {
  left: 50%;
  transform: translateX($percent);
}

// iframe 비율
@mixin respondIframe($w: 16, $h: 9) {
  position: relative;
  padding-top: math.div($h, $w) * 100%;
  height: 0 !important;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
// 버튼 스타일 제거
@mixin removeBtnStyle(
  $webkit: none,
  $moz: none,
  $appear: none,
  $border: none,
  $bg: transparent,
  $pd: 0
) {
  -webkit-appearance: $webkit;
  -moz-appearance: $moz;
  appearance: $appear;
  border: $border;
  background: $bg;
  padding: $pd;
}

// hover transition
@mixin hoverScale(
  $content: "",
  $pos: absolute,
  $dp: block,
  $t: 0,
  $l: 0,
  $h: 100%,
  $w: 100%,
  $trans: transform 0.5s
) {
  content: $content;
  position: $pos;
  display: $dp;
  top: $t;
  left: $l;
  height: $h;
  width: $w;
  transition: $trans;
}

//animation
@mixin keyframe($animation_name) {
  @keyframes #{$animation_name} {
    @content;
  }
}

@mixin animation(
  $animation: name,
  $duration: 0s,
  $timing: ease,
  $delay: 0s,
  $count: 1,
  $direction: normal,
  $fillmode: none
) {
  animation-name: $animation;
  animation-duration: $duration;
  animation-timing-function: $timing;
  animation-delay: $delay;
  animation-iteration-count: $count;
  animation-direction: $direction;
  animation-fill-mode: $fillmode;
}
