// Initial ( 기본 색상 ) --------------------------------------------------------- /
$white: #fff;
$black: #000;

// Primary ( 주요 색상 ) --------------------------------------------------------- /
$primary-color: #01b925;
$primary-logo-color: #00cd3c;
$primary-header: #1a1a1a;
$primary-font: #333333;

// Secondary ( 보조 색상 ) ------------------------------------------------------- /
$secondary-color: #7cb710;
$secondary-font: #888888;
$medium-gray: #666666;
$light-gray: #909090;

// Borders ( 보더 색상 ) --------------------------------------------------------- /
$borderGray: #cccccc;
$borderDarkGray: #b4b4b4;
$borderLightGray: #dfe6e8;

// Grayscale & Backgrounds ( 흑백 색상 ) ----------------------------------------- /
$accent-background: #f8f8f8;

// Accent ( 강조 색상 ) ---------------------------------------------------------- /
$accent-red: #ff4e78;
$accent-blue: #47bda8;

// Gradients ( 그래디언트 색상 ) ---------------------------------------------------- /
// $gradientBlue: linear-gradient(
//   137.4deg,
//   $primaryBlue8 3.86%,
//   $primaryBlue9 100%
// );
// $gradientCream: linear-gradient(
//   222.97deg,
//   $accentCream4 0%,
//   $accentCream 96.7%
// );
// $gradientLightBlue: linear-gradient(
//   139.57deg,
//   $secondaryLightBlue4 2.58%,
//   $secondaryLightBlue 93.13%
// );
